*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 1em;
  background-color: #484658;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.sprint-2__content {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.sprint-2__handlers {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.sprint-2__selectors {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.sprint-2__result {
  padding: 0.5em;
  background-color: #F1F0EC;
  border-radius: 3px;
}

.sprint {
  padding: 0.5em;
  background-color: #5A5A6B;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.sprint h1 {
  font-size: 1.5rem;
  color: #F1F0EC;
}
.sprint-3 ol {
  padding: 0 2em;
}